.time-interval {
    position: relative;
    display: inline-flex;
}

.time-table-header th:not(:first-child) {
    width: 60px;
}

.react-datepicker-wrapper {
    width: auto !important;
}

.react-datepicker__input-container {
    height: 100%;
}

.time-table-datepicker {
    margin: auto !important;
    height: 100%;
}

